footer {
	.sponsors-overview {
		background-color: $dark;
		color: white;

		.sponsors {
			a {
				width: 25rem;
				margin-left: auto;
				margin-right: auto;
				&:not(:first-of-type) {
					margin-top: 5rem;
				}
			}
		}
	}

	.arena-info {
		background-color: black;
		color: white;

		.arena-logo {
			width: 20rem;
			margin-left: auto;
			margin-right: auto;
		}

		.social-media {
			max-width: 25rem;
			margin: 2rem auto;
			display: flex;
			height: 3rem;
			justify-content: space-around;

			a {
				img {
					height: 100%;
					width: auto;
				}
			}
		}
		.arena-address {
			display: none;
		}
	}

	.shenanigans-gaming {
		margin: 5rem auto;
		width: 25rem;
	}

	.arena-links {
		display: none;
	}
}
